@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

.policy {
    padding-top: 120px;
    color: #000;
}

.policy h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.policy ul li {
    margin-bottom: 25px;
}

.policy ul li p,
.policy ul li span {
    font-weight: bold;
    font-size: 17px;
}